.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.gallery__title {
  width: 100%;
  font-weight: 700;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 20px;
}

.gallery__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: contents;
}

.gallery__new-card-btn {
  width: 100%;
  max-width: 325px;
  height: 205px;
  padding: 20px;
  justify-content: center;
  border: none;
  border-radius: 20px;
  background-color: #dcdcdc;
  color: #1a1a1a80;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  cursor: pointer;
}

.gallery__new-card-btn:hover {
  background-color: #c5c5c5;
  color: #1a1a1a;
}

.gallery__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.gallery__header .gallery__title {
  width: auto;
  margin-bottom: 0;
}

.gallery__practice-btn {
  padding: 10px 16px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 18px;
  background-color: #1a1a1a;
  color: #fff;
  cursor: pointer;
}

.gallery__practice-btn:hover {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.3)
  );
  background-blend-mode: overlay;
}

@media (max-width: 600px) {
  .gallery__title {
    font-size: 32px;
    margin-bottom: 0;
  }

  .gallery__new-card-btn {
    max-width: none;
    height: auto;
    aspect-ratio: 353 / 205;
  }
}
