.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.gallery__title {
  width: 100%;
  font-weight: 700;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 20px;
}

.gallery__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: contents;
}

.gallery__new-card-btn {
  width: 100%;
  max-width: 325px;
  height: 205px;
  padding: 20px;
  justify-content: center;
  border: none;
  border-radius: 20px;
  background-color: #dcdcdc;
  color: #1a1a1a80;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  cursor: pointer;
}

.gallery__new-card-btn:hover {
  background-color: #c5c5c5;
  color: #1a1a1a;
}
